@model MyStore.Core.Domain.Payments.VerifyPaymentResult

@{
    ViewData["Title"] = "PaymentComplete";
}

<h1>PaymentComplete</h1>

<div>
    <h2>پرداخت با موفقیت انجام شد</h2>
    <p>کد رهگیری @Model.TransId</p>
</div>